{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto in dolorum ullam et quos atque aperiam rerum alias, veritatis reprehenderit voluptas, illo quae quod perspiciatis dignissimos consequuntur nesciunt eum eligendi quas necessitatibus dolore quia magnam error animi! Doloremque odio minima ex non similique odit blanditiis iusto suscipit, sapiente officiis eligendi cumque cupiditate, natus nisi dolorem rem ea. Placeat, fuga eos? Assumenda eius excepturi minima commodi rerum eos quisquam maiores perspiciatis eaque. Possimus voluptates magnam eaque corporis, laboriosam fugit autem minus ipsum quam quos aspernatur accusamus recusandae iusto ratione qui modi, nisi reprehenderit labore explicabo? Quos veniam amet maiores harum architecto.</p>
<p>Site created by {{ username }}</p>

{% endblock %}